<% 
  let iconType = 'image/png'
  let faviconExt = theme.favicon.substr(theme.favicon.lastIndexOf('.') + 1, theme.favicon.length)
  if (faviconExt === 'png') {
      iconType = 'image/png'
  } else if (faviconExt === 'svg') {
      iconType = 'image/svg+xml'
  } else if (faviconExt === 'gif') {
      iconType = 'image/gif'
  } else if (faviconExt === 'jpeg') {
      iconType = 'image/jpeg'
  } else if (faviconExt === 'jpg') {
      iconType = 'image/jpeg'
  } else if (faviconExt === 'ico') {
      iconType = 'image/x-icon, image/vnd.microsoft.icon'
  }
%>

<%
    var title = page.title;

    // tags, categories, about pages title
    if (title == 'tags') {
        title = __('tags');
    } else if (title == 'categories') {
        title = __('categories');
    } else if (title == 'about') {
        title = __('about');
    } else if (title == 'friends') {
      title = __('friends');
    }

    // archives, category, tag pages title
    if (is_archive()) {
        title = __('archives');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('category') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('tag') + ': ' + page.tag;
    }

    // final page title.
    var pageTitle = title ? title + ' | ' + config.title : config.title;
%>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <%- partial('_partial/analytics/google-analytics') %>
  <title><%= pageTitle %></title>

  <link rel="icon" type="<%= iconType %>" href="<%- url_for(theme.favicon) %>">
  <link rel="stylesheet" href="<%= theme.CDN.iconfont %>">
  <link href="<%= theme.CDN.fontAwesome %>" rel="stylesheet">
  <link href="<%- url_for('/js/swiper/swiper@5.4.1.min.css') %>" rel="stylesheet">
  
  <% if(theme.live2d.on === true ) { %>
    <script>
        var themeModelId = '<%= theme.live2d.modelId %>';
        if (themeModelId) {
            localStorage.setItem('modelId', themeModelId);
        }
    </script>
    
    <script async src="<%- url_for(theme.CDN.live2d) %>"></script>
    <script>
        var live2dOpen = eval('<%= theme.live2d.open %>') || false;
        if (!live2dOpen) {
            localStorage.setItem('waifu-display', 1609323474481);
        }
    </script>
  <% } %>
  
  <%- css('css/animate.min.css') %>
  <%- css('css/style.css') %>
  
  <% if(theme.fancybox.on === true ) { %>
    <link href="<%- url_for(theme.fancybox.css) %>" rel="stylesheet">
  <% } %>
  <% if(theme.sharejs.on === true ) { %>
    <%- css(['js/shareJs/share.min.css']) %>
  <% } %>
  <style>
        @media (max-width: 992px) {
            #waifu {
                display: none;
            }
        }
    </style>
    <script defer src="<%- url_for(theme.CDN.paceJs) %>"></script>
    <link href="<%- url_for(theme.CDN.paceCss) %>" rel="stylesheet">

    <% if (theme.valine.on && page.comments !== false) { %>
        <script src="<%- url_for(theme.CDN.valine) %>"></script>
    <% } %>
    
    <!-- 依赖于jquery和vue -->
    <script src="<%= theme.CDN && theme.CDN.jquery ? url_for(theme.CDN.jquery) : url_for('/js/jquery3.5.1.js') %>"></script>
    <script src="<%= theme.CDN && theme.CDN.vue ? url_for(theme.CDN.vue) : url_for('/js/vue2.6.11.js') %>"></script>

    <!-- import link -->
    <% if (theme.import && theme.import.link){ %>
        <% (theme.import.link||[]).forEach(function(item){ %>
            <%- item %>
        <% }) %>
    <% } %>
    <!-- import script -->
    <% if (theme.import && theme.import.script){ %>
        <% (theme.import.script||[]).forEach(function(item){ %>
            <%- item %>
        <% }) %>
    <% } %>

</head>
