<div id="gitment-ctn"></div> 

<!-- 修改css与js文件如下即可-->
<!-- <link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script> -->
<link rel='stylesheet' href='<%= theme.CDN.gitmentCss %>'>
<script src='<%= theme.CDN.gitmentJs %>'></script>
<!-- end-->

<script>
var gitment = new Gitment({
  id: "<%= page.path %>",
  owner: '<%= theme.gitment.gitment_owner %>',
  repo: '<%= theme.gitment.gitment_repo %>',
  oauth: {
    client_id: '<%= theme.gitment.clientId %>',
    client_secret: '<%= theme.gitment.clientSecret %>',
  },
})
gitment.render('gitment-ctn')
</script>