<div class="post-nav">
<% if(page.prev) { %>
  <div class="post-nav-prev post-nav-item">
    <a href="<%- url_for(page.prev.path) %>">
      <%= __('lastArticle') %>:    <%= page.prev.title %>
    </a>
  </div>
<% } %>

<% if(page.next) { %>
  <div class="post-nav-next post-nav-item">
    <a href="<%- url_for(page.next.path) %>">
      <span>
        <%= __('nextArticle') %>:    <%= page.next.title %> 
      </span>
    </a>
  </div>
<% } %>
</div>
