<!-- 文章详情页的上一页和下一页 -->
<div class="post-nav">
<%
  var hashCode = function (str) {
      if (!str && str.length === 0) {
          return 0;
      }

      var hash = 0;
      for (var i = 0, len = str.length; i < len; i++) {
          hash = ((hash << 5) - hash) + str.charCodeAt(i);
          hash |= 0;
      }
      return hash;
  };
%>

<% if(page.prev) { %>
  <%
    var img = 'https://ssyerv1.oss-cn-hangzhou.aliyuncs.com/picture/ada660a8c596431983dddd411a12f2b3.jpg!sswm';
    var imgs = theme.imgs;
    if (!imgs || imgs.length === 0) {
        return img;
    }
    img = imgs[Math.abs(hashCode(page.prev.title) % imgs.length)]
  %>
  <div class="post-nav-prev post-nav-item">
    <div class="post-nav-img" style="background-size: cover; 
      background-position: center center;">
      <img class="lazyload" src="<%- url_for(page.prev.img || page.prev.swiperImg || img) %>" alt="">
    </div>
    <a href="<%- url_for(page.prev.path) %>" class="post-nav-link">
      <div class="title">
        <i class="fas fa-angle-left"></i> <%= __('lastArticle') %>:
        <div class="title-text"><%= page.prev.title %></div>
      </div>
      
      <!-- <div class="content">
        <%- strip_html(page.prev.content).substring(0, 60) %>
      </div> -->
    </a>
  </div>
<% } %>

<% if(page.next) { %>
  <%
    var img = 'https://ssyerv1.oss-cn-hangzhou.aliyuncs.com/picture/ada660a8c596431983dddd411a12f2b3.jpg!sswm';
    var imgs = theme.imgs;
    if (!imgs || imgs.length === 0) {
        return img;
    }
    img = imgs[Math.abs(hashCode(page.next.title) % imgs.length)]
  %>
  <div class="post-nav-next post-nav-item">
    <div class="post-nav-img" style="background-size: cover; 
      background-position: center center;">
      <img class="lazyload" src="<%- url_for(page.next.img  || page.next.swiperImg || img) %>" src="" alt="">
    </div>
    <a href="<%- url_for(page.next.path) %>" class="post-nav-link">
      <div class="title">
        <%= __('nextArticle') %>: <i class="fas fa-angle-right"></i>
        <div class="title-text"><%= page.next.title %></div>
      </div>
      <!-- <div class="content">
        <%- strip_html(page.next.content).substring(0, 60) %>
      </div> -->
    </a>
  </div>
<% } %>
</div>
