<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <body>
    <%- partial('_partial/header') %>
    <% if(theme.search.on === true) { %>
      <%- partial('_partial/search') %>
    <% } %>
    <main class="main">
      <%- body %>
    </main>
    <%- partial('_partial/footer') %>
    <!-- 图片放大 -->
    <% if(theme.fancybox.on === true ) { %>
      <%- js(['js/fancybox/jquery.fancybox.min.js', 'js/wrapImage.js']) %>
    <% } %>
    <!-- 爱心点击 -->
    <% if(theme.clicklove.on === true ) { %>
      <%- js(['js/clicklove.js']) %>
    <% } %>
  </body>
  <% if(theme.color.on) { %>
  <script>
    document.body.style.setProperty('--color-primary', '<%= theme.color.primary %>');
  </script>
  <% } %>
</html>