<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/header') %>

    <% if(theme.search.on === true) { %>
      <%- partial('_partial/search') %>
    <% } %>
    <main class="main">
      <%- body %>
    </main>
    <%- partial('_partial/footer') %>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <!-- 图片放大 -->
    <% if(theme.fancybox.on === true ) { %>
      <%- js(['js/fancybox/jquery.fancybox.min.js', 'js/wrapImage.js']) %>
    <% } %>
    <!-- 爱心点击 -->
    <% if(theme.clicklove.on === true ) { %>
      <%- js(['js/clicklove.js']) %>
    <% } %>
  </body>
</html>