<%
// the skills information of theme _config.yml.
var skills = theme.skills.data || {};
var socialAccounts = theme.socialAccounts.data || {};
var games = theme.games.data || {};
var books = theme.books.data || {};
%>
<div class="bg-dark-floor" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -2;"></div>
<div class="bg-light-floor-about" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -3;"></div>

<div class="about-header" style="background-image:url('<%- url_for(theme.about.img) %>')">
	<div class="about-header-title">
		<%= theme.about.title %>
	</div>
	<div class="about-header-desc">
	<% if (theme.typed.on === true) { %>
	<span class="title" id="about-header-desc"></span>
	<%- partial('_partial/scripts/typed', { el: '#about-header-desc', type: 'about' }) %>
	<% } else {  %>
		<span class="title">
		<%= theme.about.desc %>
		</span>
	<% } %>
	</div>
	<div class="mask-box"></div>
</div>

<% if (theme.about.video) { %>
<div class="about-video">
	<video class="full-video" autoplay loop muted>
		<source style="width: 100%;height: 100vh;" src="<%- url_for(theme.about.video) %>">
	</video>
	<div class="video-header-title">
		<%= theme.about.title %>
	</div>
	<div class="video-header-desc">
	<% if (theme.typed.on === true) { %>
		<span class="title" id="about-video-header-desc"></span>
		<%- partial('_partial/scripts/typed', { el: '#about-video-header-desc', type: 'about' }) %>
	<% } else {  %>
		<span class="title">
		<%= theme.about.desc %>
		</span>
	<% } %>
	</div>
	<div class="mask-box"></div>
</div>
<% } %>
<div id="about" class="container">
	<div class="title">
		<i class="fas fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('about') %>
	</div>
	<% if(theme.baseInfo.on) { %>
	<div class="basic-info reveal">
		<div class="subtitle">
			<i class="fas fa-address-card-o" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('aboutBasicInfo') %>
		</div>
		<div class="items">
			<div class="item">
				<div class="border">
					<i class="fas fa-heart" aria-hidden="true"></i>
				</div>
				<div class="text">
					<%= __('age') %>：<%= theme.baseInfo.age %>
				</div>
			</div>

			<div class="item">
				<div class="border">
					<i class="fas fa-transgender" aria-hidden="true"></i>
				</div>
				<div class="text">
					<%= __('sex') %>：<%= theme.baseInfo.sex %>
				</div>
			</div>

			<div class="item">
				<div class="border">
					<i class="fas fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="text">
					<%= __('coordinate') %>：<%= theme.baseInfo.coordinate %>
				</div>
			</div>

			<div class="item">
				<div class="border">
					<i class="fas fa-external-link-square" aria-hidden="true"></i>
				</div>
				<div class="text">
					<%= __('status') %>：<%= theme.baseInfo.status %>
				</div>
			</div>
		</div>
	</div>
	<% } %>
	<% if(theme.skills.on) { %>
	<div class="basic-info reveal">
		<div class="subtitle">
			<i class="fas fa-bicycle" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('skill') %>
		</div>
		<div class="skill">
			<% Object.keys(skills).forEach(function(skill) { %>
			<div class="bar-box">
				<span class="bar-name"><%- skill %></span>
				<div class="bar" style="background: <%- skills[skill].background %>; width: <%- skills[skill].percent %>"></div>
				<span class="bar-number"><%- skills[skill].percent %></span>
			</div>
			<% }); %>
		</div>
	</div>
	<% } %>
	<% if(theme.socialAccounts.on) { %>
	<div class="basic-info reveal">
		<div class="subtitle">
			<i class="fas fa-chain-broken" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('socialAccounts') %>
		</div>
		<div class="socialAccounts">
			<% Object.keys(socialAccounts).forEach(function(socialAccount) { %>
				<div class="account">
					<i class="<%- socialAccounts[socialAccount].icon %>" aria-hidden="true"></i> <%- socialAccount %>：<a href="<%- socialAccounts[socialAccount].url %>"><%- socialAccounts[socialAccount].name %></a> 
				</div>
			<% }); %>
		</div>
	</div>
	<% } %>
	<% if(theme.games.on) { %>
	<div class="basic-info reveal">
		<div class="subtitle">
			<i class="fas fa-gamepad" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('game') %>
		</div>
		<div class="games">
			<% Object.keys(games).forEach(function(game) { %>
				<div class="game-item">
					<div class="logo">
						<img src="<%- games[game].img %>" alt="">
					</div>
					<div class="name">
						<%- game %>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
	<% } %>
	<% if(theme.books.on) { %>
	<div class="basic-info reveal">
		<div class="subtitle">
			<i class="fas fa-book" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('book') %>
		</div>
		<div class="books">
			<% Object.keys(books).forEach(function(book) { %>
				<div class="book-item">
					<div class="logo">
						<img src="<%- books[book].img %>" alt="">
					</div>
					<div class="name">
						<%- book %>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
	<% } %>
</div>