<%
// the skills information of theme _config.yml.
var skills = theme.skills.data;
var socialAccounts = theme.socialAccounts.data;
var games = theme.games.data;
var books = theme.books.data;
%>
<div class="lazyload" data-original="<%- theme.root_url %><%= theme.aboutImg %>" style="width: 100%;height: 50vh;overflow: hidden;background-size: cover; 
background-position: center center;">
</div>
<div id="about" class="container">
	<div class="title">
		<i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('about') %>
	</div>
	<% if(theme.baseInfo.on) { %>
	<div class="basic-info" data-aos="<%= theme.aos.animate || 'fade-up' %>">
		<div class="subtitle">
			<i class="fa fa-address-card-o" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('aboutBasicInfo') %>
		</div>
		<div class="items">
			<div class="item">
				<div class="border">
					<i class="fa fa-heart" aria-hidden="true"></i>
				</div>
				<div class="text">
					<%= __('age') %>：<%= theme.baseInfo.age %>
				</div>
			</div>

			<div class="item">
				<div class="border">
					<i class="fa fa-transgender" aria-hidden="true"></i>
				</div>
				<div class="text">
					<%= __('sex') %>：<%= theme.baseInfo.sex %>
				</div>
			</div>

			<div class="item">
				<div class="border">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
				</div>
				<div class="text">
					<%= __('coordinate') %>：<%= theme.baseInfo.coordinate %>
				</div>
			</div>

			<div class="item">
				<div class="border">
					<i class="fa fa-external-link-square" aria-hidden="true"></i>
				</div>
				<div class="text">
					<%= __('status') %>：<%= theme.baseInfo.status %>
				</div>
			</div>
		</div>
	</div>
	<% } %>
	<% if(theme.skills.on) { %>
	<div class="basic-info" data-aos="<%= theme.aos.animate || 'fade-up' %>">
		<div class="subtitle">
			<i class="fa fa-bicycle" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('skill') %>
		</div>
		<div class="skill">
			<% Object.keys(skills).forEach(function(skill) { %>
			<div class="bar-box">
				<div class="bar" style="background: <%- skills[skill].background %>; width: <%- skills[skill].percent %>">
					<span class="bar-name"><%- skill %></span>
				</div>
				<span class="bar-number"><%- skills[skill].percent %></span>
			</div>
			<% }); %>
		</div>
	</div>
	<% } %>
	<% if(theme.socialAccounts.on) { %>
	<div class="basic-info" data-aos="<%= theme.aos.animate || 'fade-up' %>">
		<div class="subtitle">
			<i class="fa fa-chain-broken" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('socialAccounts') %>
		</div>
		<div class="socialAccounts">
			<% Object.keys(socialAccounts).forEach(function(socialAccount) { %>
				<div class="account">
					<i class="<%- socialAccounts[socialAccount].icon %>" aria-hidden="true"></i> <%- socialAccount %>：<a href="<%- socialAccounts[socialAccount].url %>"><%- socialAccounts[socialAccount].name %></a> 
				</div>
			<% }); %>
		</div>
	</div>
	<% } %>
	<% if(theme.games.on) { %>
	<div class="basic-info" data-aos="<%= theme.aos.animate || 'fade-up' %>">
		<div class="subtitle">
			<i class="fa fa-gamepad" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('game') %>
		</div>
		<div class="games">
			<% Object.keys(games).forEach(function(game) { %>
				<div class="game-item">
					<div class="logo">
						<img src="<%- games[game].img %>" alt="">
					</div>
					<div class="name">
						<%- game %>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
	<% } %>
	<% if(theme.books.on) { %>
	<div class="basic-info" data-aos="<%= theme.aos.animate || 'fade-up' %>">
		<div class="subtitle">
			<i class="fa fa-book" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('book') %>
		</div>
		<div class="books">
			<% Object.keys(books).forEach(function(book) { %>
				<div class="book-item">
					<div class="logo">
						<img src="<%- books[book].img %>" alt="">
					</div>
					<div class="name">
						<%- book %>
					</div>
				</div>
			<% }); %>
		</div>
	</div>
	<% } %>
</div>