<%
var colorArr = ['#F9EBEA', '#F5EEF8', '#D5F5E3', '#E8F8F5', '#FEF9E7',
    '#F8F9F9', '#82E0AA', '#D7BDE2', '#A3E4D7', '#85C1E9', '#F8C471', '#F9E79F', '#FFF'];
var colorCount = colorArr.length;
var hashCode = function (str) {
    if (!str && str.length === 0) {
        return 0;
    }
    var hash = 0;
    for (var i = 0, len = str.length; i < len; i++) {
        hash = ((hash << 5) - hash) + str.charCodeAt(i);
        hash |= 0;
    }
    return hash;
};
var i = 0;
%>
<div class="bg-dark-floor" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -2;"></div>
<div class="bg-light-floor-categories" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -3;"></div>

<div class="categories-header" style="background-image:url('<%- url_for(theme.categories.img) %>')">
    <div class="categories-header-title">
        <%= theme.categories.title %>
    </div>
    <div class="categories-header-desc">
    <% if (theme.typed.on === true) { %>
        <span class="title" id="categories-header-desc"></span>
    <%- partial('_partial/scripts/typed', { el: '#categories-header-desc', type: 'categories' }) %>
    <% } else {  %>
        <span class="title">
        <%= theme.categories.desc %>
        </span>
    <% } %>
    </div>
    <div class="mask-box"></div>
</div>

<% if (theme.categories.video) { %>
<div class="categories-video">
    <video class="full-video" autoplay loop muted>
        <source style="width: 100%;height: 100vh;" src="<%- url_for(theme.categories.video) %>">
    </video>
    <div class="video-header-title">
        <%= theme.categories.title %>
    </div>
    <div class="video-header-desc">
    <% if (theme.typed.on === true) { %>
        <span class="title" id="categories-video-header-desc"></span>
        <%- partial('_partial/scripts/typed', { el: '#categories-video-header-desc', type: 'categories' }) %>
    <% } else {  %>
        <span class="title">
        <%= theme.categories.desc %>
        </span>
    <% } %>
    </div>
    <div class="mask-box"></div>
</div>
<% } %>

<div id="categories" class="container">
    <div class="card">
        <div class="card-content">
            <div class="category-title center-align">
                <i class="fas fa-tags"></i>&nbsp;&nbsp;<%= __('postCategoryTitle') %>
            </div>
            <div class="category-chips">
                <% site.categories.map(function(category) { %>
                <%
                    i++;
                    var color = colorArr[Math.abs(hashCode(category.name) % colorCount)];
                %>
                <a href="<%- url_for(category.path) %>" title="<%- category.name %>: <%- category.length %>">
                    <span class="category-content"
                        title="<%- category.name %>" style="background-color: <%- color %>;"><%- category.name %>
                        <span class="category-length"><%- category.length %></span>
                    </span>
                </a>
                <% }); %>
            </div>
        </div>
    </div>
</div>
