<div class="bg-dark-floor" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -2;"></div>
<div class="bg-light-floor-friends" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -3;"></div>

<div class="friends-header"  style="background-image:url('<%- url_for(theme.friends.img) %>')">
  <div class="friends-header-title">
    <%= theme.friends.title %>
    </div>
    <div class="friends-header-desc">
    <% if (theme.typed.on === true) { %>
      <span class="title" id="friends-header-desc"></span>
    <%- partial('_partial/scripts/typed', { el: '#friends-header-desc', type: 'friends' }) %>
    <% } else {  %>
      <span class="title">
      <%= theme.friends.desc %>
      </span>
    <% } %>
    </div>
    <div class="mask-box"></div>
</div>

<% if (theme.friends.video) { %>
<div class="friends-video">
	<video class="full-video" autoplay loop muted>
		<source style="width: 100%;height: 100vh;" src="<%- url_for(theme.friends.video) %>">
	</video>
	<div class="video-header-title">
		<%= theme.friends.title %>
	</div>
	<div class="video-header-desc">
	<% if (theme.typed.on === true) { %>
		<span class="title" id="friends-video-header-desc"></span>
		<%- partial('_partial/scripts/typed', { el: '#friends-video-header-desc', type: 'friends' }) %>
  <% } else {  %>
    <span class="title">
    <%= theme.friends.desc %>
    </span>
  <% } %>
	</div>
	<div class="mask-box"></div>
</div>
<% } %>
<div class="container" id="friends">
  <div class="friends-title">
    <i class="fas fa-link" aria-hidden="true"></i>&nbsp;&nbsp;<%= __('friends') %>
  </div>
  <div class="friends">
    <% var friends = site.data.friends; %>
    <% for (var i = 0, len = friends.length; i < len; i++) { %>
      <% var friend = friends[i]; %>
      <div class="friend">
        <div class="friend-avatar">
          <img src="<%- url_for(friend.avatar) %>" alt="img">
        </div>
        <div class="friend-info">
          <div class="friend-name">
            <a href="<%- url_for(friend.url) %>" target="_blank">
              <%= friend.name %>
            </a>
          </div>
          <div class="friend-introduction"><%= friend.introduction %></div>
        </div>
      </div>
    <% } %>
  </div>
  
  <!-- 评论 -->
  <%- partial('_partial/post/comment', { page: page }) %>
</div>
