
<%- partial('_partial/swiper') %>
<%- partial('_partial/motto') %>
<%- partial('_partial/notice') %>
<%- partial('_partial/topArticle', {page: page}) %>

<%
  var hashCode = function (str) {
      if (!str && str.length === 0) {
          return 0;
      }

      var hash = 0;
      for (var i = 0, len = str.length; i < len; i++) {
          hash = ((hash << 5) - hash) + str.charCodeAt(i);
          hash |= 0;
      }
      return hash;
  };
%>
<div class="bg-floor" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -2;"></div>
<section class="posts">
  <% page.posts.each(function (post, i) { %>
    <article class="post" data-aos="<%= theme.aos.animate || 'fade-up' %>" style="<% if(i % 2 == 0 && theme.homePostImgsPosition.on) { %>flex-direction: row-reverse;<% } %>   <% if(theme.homePostImgsPosition.on === false && theme.homePostImgsPosition.left) { %>flex-direction: row-reverse;<% } %>">
      <div class="post-main">
        <div class="post-info">
          <div class="post-time">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <span class="post-time"><%- date(post.date, "YYYY-MM-DD") %></span>
          </div>
          <div class="post-title">
            <a class="post-title-link" href="<%- url_for(post.path) %>"><%= post.title %></a>
          </div>
          <div class="post-meta">
            <div class="post-tags">
              <%- partial('_partial/post/tags', {post: post}) %>
            </div>
            <div class="post-categories">
              <%- partial('_partial/post/categories', {post: post}) %>
            </div>
          </div>
          <div class="post-img-mobile">
            <% if (post.img || post.swiperImg) { %>
              <a href="<%- url_for(post.path) %>" class="lazyload" data-original="<%- url_for(post.img || post.swiperImg) %>" style="background-size: cover; 
                background-position: center center;">
              </a>
            <% } else { %>
              <%
                var img = 'https://ssyerv1.oss-cn-hangzhou.aliyuncs.com/picture/ada660a8c596431983dddd411a12f2b3.jpg!sswm';
                var imgs = theme.imgs;
                if (!imgs || imgs.length === 0) {
                    return img;
                }
                img = imgs[Math.abs(hashCode(post.title) % imgs.length)]
              %>
              <a href="<%- url_for(post.path) %>" class="lazyload" data-original="<%- url_for(img)%>" style="background-size: cover; 
                background-position: center center;">
              </a>
            <% } %>
          </div>
          <div class="post-content">
            <%- post.excerpt || strip_html(post.content).substring(0, 120) %>
          </div>
        </div>
        <div class="post-more">
          <a href="<%- url_for(post.path) %>">
            <i class="iconfont iconmore" style="<% if(i % 2 == 0 && theme.homePostImgsPosition) { %>float: right;<% } %>  <% if(theme.homePostImgsPosition.on === false && theme.homePostImgsPosition.left) { %>flex-direction: row-reverse;<% } %>" title="阅读更多"></i>
          </a>
        </div>
      </div>
      <div class="post-img">
        <% if (post.img || post.swiperImg) { %>
          <a href="<%- url_for(post.path) %>" class="lazyload" data-original="<%- url_for(post.img || post.swiperImg) %>" style="background-size: cover; 
            background-position: center center;">
          </a>
        <% } else { %>
          <a href="<%- url_for(post.path) %>" class="lazyload" data-original="<%- url_for(img) %>" style="background-size: cover; 
            background-position: center center;">
          </a>
        <% } %>
      </div>
    </article>
  <% }) %>
</section>
<%- partial('_partial/paginator') %>

<!-- 雪花和花瓣特效 -->
<% if(theme.snow.on === true ) { %>
  <% if(theme.snow.onlyPc === true ) { %>
    <script type="text/javascript">
      //只在桌面版网页启用特效
      var windowWidth = $(window).width();
      if (windowWidth > 768) {
          document.write('<script type="text/javascript" src="<%- url_for("/js/snow.js") %>"><\/script>');
      }
    </script>
  <% } else {  %>
    <script src="<%- url_for('/js/snow.js') %>"></script>
  <% } %>
<% } else if(theme.sakura.on === true) { %>
  <% if(theme.sakura.onlyPc === true ) { %>
    <script type="text/javascript">
      //只在桌面版网页启用特效
      var windowWidth = $(window).width();
      if (windowWidth > 768) {
          document.write('<script type="text/javascript" src="<%- url_for("/js/sakura.js") %>"><\/script>');
      }
    </script>
  <% } else { %>
    <script src="<%- url_for('/js/sakura.js') %>"></script>
  <% } %>
<% } %>

<% if(theme.lantern.on === true ) { %>
<!-- 灯笼1 -->
<div class="deng-box">
  <div class="deng">
      <div class="xian"></div>
      <div class="deng-a">
          <div class="deng-b"><div class="deng-t"><%= theme.lantern.right %></div></div>
      </div>
      <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
  </div>
</div>

<!-- 灯笼2 -->
<div class="deng-box1">
  <div class="deng">
      <div class="xian"></div>
      <div class="deng-a">
          <div class="deng-b"><div class="deng-t"><%= theme.lantern.left %></div></div>
      </div>
      <div class="shui shui-a"><div class="shui-c"></div><div class="shui-b"></div></div>
  </div>
</div>
<% } %>
