
<%- partial('_partial/post/prismjs', { post: page }) %>


<div class="bg-dark-floor" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -1;"></div>

<% if (page.imgTop !== false) { %>
  <%- partial('_partial/post/post-detail-header', { post: page }) %>
<% } %>

<% 
  var topSpacing = page.imgTop === false ? '60px' : '0px'; // imgTop为false的时候，距离顶部60px
%>
<div class="post-detail-content post-row" 
  style="padding-top: <%- topSpacing %>;">
  <div class="main-content">
    <article class="post post-detail">
      <div class="post-content">
        <%- page.content %>
      </div>
      <div class="post-tags-categories">
        <% if (page.tags && page.tags.length > 0) { %>
        <div class="tags">
          <% page.tags.map(function(tag) { %>
            <a href="<%- url_for(tag.path) %>" class="">
              <%- tag.name %>
            </a>
          <% }) %>
        </div>
        <% } %>
      </div>
      <% if (theme.copyright.on && page.copyright !== false) { %>
        <%- partial('_partial/post/copyright', { post: page }) %>
      <% } %>
    </article>
    <!-- 上一篇文章和下一篇文章 -->
    <% if (theme.postNav.on){ %>
      <%- partial('_partial/post/post-nav') %>
    <% } %>
    

    <!-- 打赏 -->
    <% if (theme.donate.on && page.donate !== false){ %>
      <%- partial('_partial/post/donate') %>
    <% } %>

    <!-- 分享 -->
    <% if(theme.sharejs.on && page.share !== false) { %>
      <%- partial('_partial/post/share') %>
    <% } %>
    
    <!-- 评论 -->
    <%- partial('_partial/post/comment', { page: page }) %>

  </div>

  <!-- 目录 -->
  <%- partial('_partial/side') %>

  <!-- 图片放大 Wrap images with fancybox support -->
  <script defer src="<%- url_for('/js/wrapImage.js') %>"></script>
</div>

<%- partial('_partial/post/bgSwiper', { post: page }) %>

<% if (page.mathjax) { %>
  <%- partial('_partial/math/mathjax') %>
<% } %>

<% if (theme.mermaid.on) { %>
  <%- partial('_partial/math/mermaid') %>
<% } %>