
<%- partial('_partial/prismjs', { post: page }) %>

<div class="bg-dark-floor" style="position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: -1;"></div>
<%- partial('_partial/bgSwiper', { post: page }) %>
<%- partial('_partial/post-detail-header', { post: page }) %>
<div class="row justify-position">
  <div class="main-content">
    <article class="post post-detail">
      <% if (page.date) { %>
      <div class="post-meta">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
      </div>
      <% } %>
      <div class="post-tags-categories">
        <% if (page.tags && page.tags.length > 0) { %>
        <div class="tags">
          <i class="iconfont icontag"></i>
          <% page.tags.map(function(tag) { %>
            <a href="<%- url_for(tag.path) %>" class="">
              <%- tag.name %>
            </a>
          <% }) %>
        </div>
        <% } %>
        <% if (page.categories && page.categories.length > 0) { %>
        <div class="categories">
          <i class="iconfont iconbookmark1"></i>
          <% page.categories.map(function(category) { %>
            <a href="<%- url_for(category.path) %>" class="">
              <%- category.name %>
            </a>
          <% }) %>
        </div>
        <% } %>
      </div>
      <div class="post-content">
        <%- page.content %>
      </div>
      <% if (theme.copyright.on && page.copyright !== false) { %>
        <%- partial('_partial/copyright', { post: page }) %>
      <% } %>
    </article>
    <!-- 上一篇文章和下一篇文章 -->
    <% if (theme.postNav.on){ %>
      <%- partial('_partial/post/post-nav') %>
    <% } %>
    

    <!-- 打赏 -->
    <% if (theme.donate.on && page.donate !== false){ %>
      <%- partial('_partial/donate') %>
    <% } %>

    <!-- 分享 -->
    <% if(theme.sharejs.on && page.share !== false) { %>
      <%- partial('_partial/share') %>
    <% } %>
    
    <!-- 评论 -->
      <% if(page.comments !== false ) { %>
        <div id="myComment">
          <% if(theme.valine.on === true ) { %>
            <%- partial('_partial/comment/valine', { post: page }) %>
          <% } else if(theme.twikoo.on === true) { %>
            <%- partial('_partial/comment/twikoo') %>
          <% } else if(theme.gitment.on === true) { %>
            <%- partial('_partial/comment/gitment') %>
          <% } else if(theme.livere.on === true) {  %>
            <%- partial('_partial/comment/livere') %>
          <% } else if(theme.changyan.on === true) {  %>
            <%- partial('_partial/comment/changyan') %>
          <% } else if(theme.gitalk.on === true) {  %>
            <%- partial('_partial/comment/gitalk') %>
          <% } else if(theme.miniValine.on === true) { %>
            <%- partial('_partial/comment/miniValine') %>
          <% } %>
        </div>
      <% } %>
  </div>

  <% if(theme.toc.on === true && page.toc !== false) { %>
    <div class="toc-aside">
      <div class="toc-main">
        <div class="toc-aside-title">
          <i class="fa fa-list-ul" aria-hidden="true"></i><span><%= __('paperCatalog') %></span>
          <div class="toc-open-close"><%= __('paperCatalog') %></div>
        </div>
        <div class="toc-content">
          <%- partial('_partial/post-detail-toc') %>
        </div>
      </div>
    </div>

    <% if(theme.toc.open === false || page.tocOpen === false) { %>
      <script>
        $(".toc-aside").css({'width': 0, 'padding': 0});
        $(".toc-content").css({'width': 0});
        $(".toc-aside-title span, .toc-aside-title i").css({'display': 'none'});
        $(".main-content").css({'width': '75%', 'margin': '10px auto'});
      </script>
    <% } %>

    <script>
      let openOrCloseBtn = $('.toc-aside .toc-aside-title .toc-open-close');
      let open = eval('<%= page.tocOpen %>' || '<%= theme.toc.open %>');
      openOrCloseBtn.click(function() {
        if (open === true) {
          $(".toc-aside").css({'width': 0, 'padding': 0});
          $(".toc-content").css({'width': 0});
          $(".toc-aside-title span, .toc-aside-title i").css({'display': 'none'});
          $(".main-content").css({'width': '75%', 'margin': '10px auto'});
          open = false;
        } else {
          $(".toc-aside").css({'width': '300px', 'padding': '0 10px'});
          $(".toc-content").css({'width': '300px'});
          $(".toc-aside-title span, .toc-aside-title i").css({'display': 'inline-block'});
          $(".main-content").css({'width': '65%', 'margin-right': '10px', 'margin-left': 'calc(35% - 350px)'});
          open = true;
        }
      });
    </script>
  <% } else { %>
    <script>
      $(".toc-aside").css({'width': 0, 'padding': 0});
      $(".toc-content").css({'width': 0});
      $(".toc-aside-title span, .toc-aside-title i").css({'display': 'none'});
      $(".main-content").css({'width': '75%', 'margin': '10px auto'});
    </script>
  <% } %>

  <%- partial('_partial/scripts/issues') %>
</div>

