<%- partial('_partial/post-detail-header', { post: page }) %>
<div class="row justify-center">
  <div class="main-content">
    <article class="post post-detail">
      <% if (theme.postTitleTop.on === false){ %>
        <div class="post-title">
          <%- page.title %>
        </div>
      <% } %>
      <% if (page.date) { %>
      <div class="post-meta">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
      </div>
      <% } %>
      <div class="post-tags-categories">
        <% if (page.tags.length > 0) { %>
        <div class="tags">
          <i class="iconfont icontag"></i>
          <% page.tags.map(function(tag) { %>
            <a href="<%- url_for(tag.path) %>" class="">
              <%- tag.name %>
            </a>
          <% }) %>
        </div>
        <% } %>
        <% if (page.categories.length > 0) { %>
        <div class="categories">
          <i class="iconfont iconbookmark1"></i>
          <% page.categories.map(function(category) { %>
            <a href="<%- url_for(category.path) %>" class="">
              <%- category.name %>
            </a>
          <% }) %>
        </div>
        <% } %>
      </div>
      <div class="post-content">
        <%- page.content %>
      </div>
      <% if (theme.copyright.on && page.copyright !== false) { %>
        <%- partial('_partial/copyright', { post: page }) %>
      <% } %>
    </article>
    <!-- 上一篇文章和下一篇文章 -->
    <% if (theme.postNav.on){ %>
      <%- partial('_partial/post/post-nav') %>
    <% } %>
    

    <!-- 打赏 -->
    <% if (theme.donate.on && page.donate !== false){ %>
      <%- partial('_partial/donate') %>
    <% } %>

    <!-- 分享 -->
    <% if(theme.sharejs.on && page.share !== false) { %>
      <%- partial('_partial/share') %>
    <% } %>

    <!-- 评论 -->
      <% if(page.comments !== false ) { %>
        <% if(theme.valine.on === true ) { %>
          <%- partial('_partial/comment/valine') %>
        <% } else if(theme.gitment.on === true) { %>
          <%- partial('_partial/comment/gitment') %>
        <% } else if(theme.livere.on === true) {  %>
          <%- partial('_partial/comment/livere') %>
        <% } else if(theme.changyan.on === true) {  %>
          <%- partial('_partial/comment/changyan') %>
        <% } else if(theme.gitalk.on === true) {  %>
          <%- partial('_partial/comment/gitalk') %>
        <% } else if(theme.miniValine.on === true) { %>
          <%- partial('_partial/comment/miniValine') %>
        <% } %>
      <% } %>
  </div>

  <% if(theme.toc.on === true && page.toc !== false) { %>
    <div class="toc-aside">
      <div class="toc-main">
        <div class="toc-aside-title">
          <i class="fa fa-list-ul" aria-hidden="true"></i><span>目录</span>
        </div>
        <div class="toc-content">
          <%- partial('_partial/post-detail-toc') %>
        </div>
      </div>
    </div>
  <% } %>
</div>
