<% if (theme.busuanzi) { %>
  <!-- 不蒜子统计 -->
  <span id="busuanzi_container_site_pv">
        <i class="fa fa-eye" aria-hidden="true"></i><%= __('totalVisits') %>：<span id="busuanzi_value_site_pv"></span> <%= __('times') %>
  </span>
  <span class="post-meta-divider">|</span>
  <span id="busuanzi_container_site_uv" style='display:none'>
        <i class="fa fa-users" aria-hidden="true"></i><%= __('numberVisitors') %>：<span id="busuanzi_value_site_uv"></span> <%= __('people') %>
  </span>
  <script async src="<%- url_for(theme.CDN.busuanzi) %>" data-pjax></script>
<% } %>