<div class="footer bg-color">
  <div class="footer-main">
    <div class="link">
      <% (theme.site_footer.social||[]).forEach(function(value) { %>
        <% if (value.url && (value.icon || value.img || value.avatar)) { %>
          <a href="<%= url_for(value.url) %>" class="social">
            <% if (value.icon) { %>
              <i class="<%- value.icon %>" aria-hidden="true"></i>
            <% } else if (value.img) { %>
              <img src="<%- value.img %>"/>
            <% } else if (value.avatar) { %>
              <img src="<%- value.avatar %>" style="border-radius:120px"/>
            <% } %>
          </a>
        <% } %>
      <% }) %>
    </div>
    <div class="footer-copyright">
      <%- markdown(theme.site_footer.copyright) %>
    </div>
    <div class="footer-custom">
      <% (theme.site_footer.custom||[]).forEach(function(item) { %>
        <div><%- markdown(item.label) %></div>
      <% }) %>
    </div>
    <!-- 不蒜子统计 -->
    <% if(theme.busuanzi.on === true ) { %>
      <%- partial('_partial/footer/busuanzi') %>
    <% } %>
  </div>
</div>
