<div class="topArticle" data-aos="<%= theme.aos.animate || 'fade-up' %>">
	<h3><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>推荐文章</h3>
	<div class="articles">
		<% page.posts.each(function (post, i) { %>
			<% if(post.top) { %>
				<div class="article-link">
					<div class="article" style="background: url('<%= post.img  || 'https://ssyerv1.oss-cn-hangzhou.aliyuncs.com/picture/56d7b34ee52046a3af719a1c9b1e0753.jpg!sswm' %>');background-size: cover; 
						background-position: center center;">
					</div>
					<div class="text">
						<div class="text-main">
							<div class="title"><%= post.title %></div>
							<p class="content">
								<%- post.excerpt || strip_html(post.content).substring(0, 60) %>
							</p>
						</div>
						<a href="<%- url_for(post.path) %>" class="more">
							<i class="fa fa-eye" aria-hidden="true"></i>阅读更多
						</a>
					</div>
				</div>
			<% } %>
		<% }) %>
	</div>
</div>