<div class="lazyload" data-original="<%- theme.root_url %><%= theme.archiveImg %>" style="width: 100%;height: 50vh;overflow: hidden;background-size: cover; 
background-position: center center;">
</div>
<section class="archive">
  <div class="archive-content">
    <ul class="post-archive">
      <% var year = '1970'; %>
      <% page.posts.each(function (post) { %>
        <% if (date(post.date, 'YYYY') != year) { %>
          <% year = date(post.date, 'YYYY'); %>
          <div class="year" data-aos="zoom-in-up">
              <div class="bullet"></div>
              <a href="<%- url_for('/archives/' + year) %>"><%- year %></a>
          </div>
        <% } %>
        <li class="post-item" data-aos="fade-left">
          <span class="post-date"><%= date(post.date, "MM-DD") %></span>
          <a class="post-title" href="<%- url_for(post.path) %>"><%= post.title %></a>
        </li>
      <% }) %>
    </ul>
  </div>
</section>
<%- partial('_partial/paginator') %>