<% if (page.total > 1){ %>
  <!-- <nav class="page-nav">
    <%- paginator({
      prev_text: __('Paginator.Prev'),
      next_text: __('Paginator.Next')
    }) %>
  </nav> -->
  <div class="page-nav">
    <% if (page.prev) { %>
      <a href="<%- url_for(page.prev_link) %>"
         class="page-nav-pre">
         <i class="fas fa-angle-left"></i><span class="ml-5"><%= __('Paginator.Prev') %></span>
      </a>
    <% } %>
    <div class="page-info">
        <div class="page-info-text"><%- page.current %> / <%- page.total %></div>
    </div>
    <% if (page.next) { %>
      <a href="<%- url_for(page.next_link) %>"
         class="page-nav-next">
          <span class="mr-5"><%= __('Paginator.Next') %></span><i class="fas fa-angle-right"></i>
      </a>
      <% } %>
  </div>
<% } %>