
<% if (theme.swiper.defaultDescTyped) { %>
  <link href="<%- url_for('/js/vue-typed-js/index.css') %>" rel="stylesheet">
<% } %>

<%
    var hashCode = function (str) {
        if (!str && str.length === 0) {
            return 0;
        }

        var hash = 0;
        for (var i = 0, len = str.length; i < len; i++) {
            hash = ((hash << 5) - hash) + str.charCodeAt(i);
            hash |= 0;
        }
        return hash;
    };
%>

<%
  var imgArr = theme.imgs;
  var swpiers = site.posts.filter(function(post) {return post.swiper});
  var swiperLength = swpiers.length;
  var defaultIndex = Math.floor((Math.random()*imgArr.length)); 
%>

<div class="swiper-length" style="display: none;"><%- swiperLength %></div>
<div id="appSwiper"
  class="<% if(swiperLength <= 1) { %>swiper-no-swiping<% } %>"
  @mouseenter="stopAutoPlay()" 
  @mouseleave="startAutoPlay()"
>
  <swiper v-cloak ref="mySwiper" :options="swiperOptions" @slideChangeTransitionEnd="slideChangeTransitionEnd">
    <% if(swiperLength > 0) { %>
      <% if(theme.swiper.defaultAddToSwiper) { %>
        <swiper-slide>
          <div class="item swiper-lazy" data-background="<% if(!theme.swiper.bothSideTransparent) { %><%- url_for(theme.swiper.defaultImg || imgArr[defaultIndex]) %><% } %>" style="background-size: <%= theme.swiper.bothSideBlur %>; 
            background-position: left center;" style="position: relative;">
            <div class="swiper-bgmask" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"></div>
              <div class="flag">
                <% if(theme.swiper.defaultVideo) { %>
                <div class="swiper-video">
                  <video class="full-video" poster="<%- url_for(theme.swiper.defaultVideoLoadingImg) %>" autoplay loop muted style="width: 100%;height:100%;object-fit: cover;">
                    <source style="width: 100%;height: 100vh;"  src="<%- url_for(theme.swiper.defaultVideo) %>">
                  </video>
                  <div class="swiper-video-maskBox"></div>
                </div>
                <% } %>
                <div class="img-mask swiper-lazy swiper-default-bgImg" data-background="<%- url_for(theme.swiper.defaultImg || imgArr[defaultIndex]) %>" style="height: 100%; background-size: cover; 
                  background-position: center center;">
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>   
                </div>
                <div class="flag-text">
                  <div class="flag-text-content">
                    <div class="title ani animated" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>"><%= theme.swiper.defaultTile %></div>
                    <% if (theme.swiper.defaultDescTyped && theme.swiper.defaultDesc && theme.swiper.defaultDesc.length > 0) { %>
                      <div  class="ani animated default-excerpt" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>">
                        <vue-typed-js :strings="defaultDesc" :loop="defaultDescTypedLoop" :type-speed="<%- theme.swiper.defaultDescTypedSpeed %>" :back-speed="<%- theme.swiper.defaultDescTypedBackSpeed %>">
                          <h1 class="typing"></h1>
                        </vue-typed-js>
                      </div>
                      <% } else { %>
                        <div class="excerpt ani animated" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>"><%= theme.swiper.defaultDesc %></div>
                      <% } %>
                  </div>
                  <div style="display: flex;" class="flag-text-btns">
                    <% if(theme.swiper.defaultLeftBtnText) { %>
                      <div class="ani animated" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>"><a href="<%= theme.swiper.defaultLeftBtnLink %>" class="read-more swiper-btn-color" style="display: inline-block; z-index:1;"><%= theme.swiper.defaultLeftBtnText %></a></div>
                    <% } %>
                    <% if(theme.swiper.defaultRightBtnText) { %>
                      <div class="ani animated" style="margin-left: 10px;" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>"><a href="<%= theme.swiper.defaultRightBtnLink %>" class="read-more swiper-btn-color2" style="display: inline-block; z-index:1;border: 1px solid white;"><%= theme.swiper.defaultRightBtnText %></a></div>
                    <% } %>
                  </div>
                </div>
              </div>
          </div>
        </swiper-slide>
      <% } %>
      <% site.posts.sort('-date').each(function (post) { %>
        <%
            var index = Math.floor((Math.random()*imgArr.length)); 
        %>
        <% if(post.swiper === true) { %>
          <%
            var img = 'https://ssyerv1.oss-cn-hangzhou.aliyuncs.com/picture/ada660a8c596431983dddd411a12f2b3.jpg!sswm';
            var imgs = theme.imgs;
            if (!imgs || imgs.length === 0) {
                return img;
            }
            img = imgs[Math.abs(hashCode(post.title) % imgs.length)]
          %>
          <swiper-slide>
            <div class="item swiper-lazy" data-background="<% if(!theme.swiper.bothSideTransparent) { %><%- url_for(post.swiperImg || post.img || img) %><% } %>" style=" background-size: <%= theme.swiper.bothSideBlur %>; 
            background-position: left center;" style="position: relative;">
              <div class="swiper-bgmask" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"></div>
              <div class="flag" style="z-index: 2;">
                <div class="img-mask swiper-lazy" data-background="<%- url_for(post.swiperImg || post.img || img) %>" style="height: 100%; background-size: cover; 
                  background-position: center center;">
                  <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>  
                </div>
                <div class="flag-text">
                  <div class="flag-text-content">
                    <div class="title ani animated" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>">
                      <a href="<%- url_for(post.path) %>">
                        <%=post.title%>
                      </a>
                    </div>
                    <div class="excerpt ani animated" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>"><%- post.swiperDesc || post.excerpt || strip_html(post.content).substring(0, 120) %></div>
                  </div>
                  <div class="bottom-one-btn ani animated" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>"><a href="<%- url_for(post.path) %>" class="read-more swiper-btn-color" style="display: inline-block; z-index:1;"><%= __('readMore') %></a></div>
                </div>
              </div>
            </div>

          </swiper-slide>
        <% } %>
      <% }) %>
    <div class="swiper-pagination" slot="pagination" pointer style="<% if(!theme.swiper.showIndicators || swiperLength <= 1) { %>display: none;<% } %>"></div>
    <div class="swiper-button-prev swiper-button-white" pointer slot="button-prev" style="<% if(!theme.swiper.showPrevNext || swiperLength <= 1) { %>display: none;<% } %>"></div>
    <div class="swiper-button-next swiper-button-white" pointer slot="button-next" style="<% if(!theme.swiper.showPrevNext || swiperLength <= 1) { %>display: none;<% } %>"></div>
    <% } else { %>
      <swiper-slide>
        <div class="item swiper-lazy" data-background="<% if(!theme.swiper.bothSideTransparent) { %><%- url_for(theme.swiper.defaultImg || imgArr[defaultIndex]) %><% } %>" style="background-size: <%= theme.swiper.bothSideBlur %>; 
          background-position: left center;" style="position: relative;">
          <div class="swiper-bgmask" style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;"></div>
            <div class="flag">
              <% if(theme.swiper.defaultVideo) { %>
              <div class="swiper-video">
                <video class="full-video" poster="<%- url_for(theme.swiper.defaultVideoLoadingImg) %>" autoplay loop muted style="width: 100%;height:100%;object-fit: cover;">
                  <source style="width: 100%;height: 100vh;" src="<%- url_for(theme.swiper.defaultVideo) %>">
                </video>
                <div class="swiper-video-maskBox"></div>
              </div>
              <% } %>
              <div class="img-mask swiper-lazy swiper-default-bgImg" data-background="<%- url_for(theme.swiper.defaultImg || imgArr[defaultIndex]) %>" style="height: 100%; background-size: cover; 
                background-position: center center;">
                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>   
              </div>
              <div class="flag-text">
                <div class="flag-text-content">
                  <div class="title ani animated" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>"><%= theme.swiper.defaultTile %></div>
                  <% if (theme.swiper.defaultDescTyped && theme.swiper.defaultDesc && theme.swiper.defaultDesc.length > 0) { %>
                    <div class="ani animated default-excerpt" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>">
                      <vue-typed-js :strings="defaultDesc" :loop="defaultDescTypedLoop" :type-speed="<%- theme.swiper.defaultDescTypedSpeed %>" :back-speed="<%- theme.swiper.defaultDescTypedBackSpeed %>">
                        <h1 class="typing"></h1>
                      </vue-typed-js>
                    </div>
                    <% } else {  %>
                      <div class="excerpt ani animated" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>"><%= theme.swiper.defaultDesc %></div>
                    <% } %>
                </div>
                <div style="display: flex;" class="flag-text-btns">
                  <% if(theme.swiper.defaultLeftBtnText) { %>
                    <div class="ani animated" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>"><a href="<%= theme.swiper.defaultLeftBtnLink %>" class="read-more swiper-btn-color" style="display: inline-block; z-index:1;"><%= theme.swiper.defaultLeftBtnText %></a></div>
                  <% } %>
                  <% if(theme.swiper.defaultRightBtnText) { %>
                    <div class="ani animated" style="margin-left: 10px;" swiper-animate-effect="<%= theme.swiper.textAnimated %>" swiper-animate-duration="<%= theme.swiper.textDuration %>" swiper-animate-delay="<%= theme.swiper.textDelay %>"><a href="<%= theme.swiper.defaultRightBtnLink %>" class="read-more swiper-btn-color2" style="display: inline-block; z-index:1;border: 1px solid white;"><%= theme.swiper.defaultRightBtnText %></a></div>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
      </swiper-slide>
    <% } %>
  </swiper>
  <% if(theme.swiper.full) { %>
    <div id="scroll-down" @click="toPostContent()">
      <a href="javascript:;">
        <i class="fas fa-angle-down scroll-down-effects"></i>
      </a>
    </div>
  <% } %>
  <canvas id="header_canvas"style="position:absolute;bottom:0;width:100%;pointer-events:none;"></canvas>
  <% if(theme.swiper.wave) { %>
    <svg class="hans-container" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28" preserveAspectRatio="none"><defs><path id="hans-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path></defs><g class="hans-parallax"><use xlink:href="#hans-wave" x="50" y="0" fill="rgba(224,233,239,.5)"></use><use xlink:href="#hans-wave" x="50" y="3" fill="rgba(224,233,239,.5)"></use><use xlink:href="#hans-wave" x="50" y="6" fill="rgba(224,233,239,.5)"></use></g></svg>
  <% } %>  
</div>

<% if(theme.swiper.wave) { %>
<style>.hans-parallax>use{animation:hans-wave-move 12s linear infinite}.hans-parallax>use:nth-child(1){animation-delay:-2s}.hans-parallax>use:nth-child(2){animation-delay:-2s;animation-duration:5s}.hans-parallax>use:nth-child(3){animation-delay:-4s;animation-duration:3s}@keyframes hans-wave-move{0%{transform:translate(-90px,0)}100%{transform:translate(85px,0)}}</style>
<style>
  .hans-container {
    position: absolute!important;
    bottom: 0;
    width: 100%;
    height: 120px;
    z-index: 100;
    pointer-events:none;
  }
</style>
<% } %>

<script>
  var autoplay = JSON.parse('<%= theme.swiper.autoplay %>');
  var delay = '<%= theme.swiper.delay %>';
  var loop = JSON.parse('<%= theme.swiper.defaultAddToSwiper %>') ? false : JSON.parse('<%= theme.swiper.loop %>');
  var effect = '<%= theme.swiper.effect %>';
  var swiperLength = parseInt(document.querySelector(".swiper-length").innerText);
  var defaultDesc = '<%= theme.swiper.defaultDesc %>';
  defaultDesc = defaultDesc.split(',');
  var defaultDescTypedLoop = JSON.parse('<%= theme.swiper.defaultDescTypedLoop %>');
  var vm = new Vue({
    el: '#appSwiper',
    data: {
      defaultDesc: defaultDesc,
      defaultDescTypedLoop,
      swiperOptions: {
        pagination: {
          el: '.swiper-pagination',
          clickable: true // 允许点击小圆点跳转
        },
        loop: loop ? true : false,
        effect, // fade
        autoplay: (autoplay && swiperLength > 1) ? {
  　　　　delay,
  　　　　disableOnInteraction: false // 手动切换之后继续自动轮播
    　　} : false,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        lazy: {
          loadPrevNext: true,
        },
        on:{
          init: function() {
            swiperAnimateCache(this); //隐藏动画元素 
            swiperAnimate(this); //初始化完成开始动画
          }, 
          slideChangeTransitionEnd: function(){ 
            swiperAnimate(this); //每个slide切换结束时也运行当前slide动画
          } 
        }
        // Some Swiper option/callback...
      }
    },
    computed: {
      swiper() {
        return this.$refs.mySwiper.$swiper
      }
    },
    mounted() {
      // console.log('Current Swiper instance object', this.swiper)
      // this.swiper.slideTo(0, 1000, false)
    },
    methods: {
      stopAutoPlay() {
        (autoplay && swiperLength > 1) && this.swiper.autoplay.stop();
      },
      startAutoPlay() {
        (autoplay && swiperLength > 1) && this.swiper.autoplay.start();
      },
      slideChangeTransitionEnd() {
        console.log('1');
      },
      toPostContent() {
        const fullHeight = $(window).height() - 60;
        $('html,body').animate({scrollTop: fullHeight},500);
      }
    },
    created() {}
  })
</script>
<% if (theme.swiper.bubble) { %>
  <script src="<%- url_for('/js/bubble/homeBubble.js') %>"></script>
<% } %>
<style>
#appSwiper {
  position: relative;
  user-select: none;
  overflow: hidden;
  font-family: Titillium Web,'PingFang SC','Hiragino Sans GB','Microsoft JhengHei','Microsoft YaHei',sans-serif;
}
.default-excerpt {
  font-size: 1.6em;
  margin-top: 1em;
  color: #eee;
}
.bottom-one-btn {
  margin-top: 15px;
}
.swiper-container {
  overflow: hidden;
  z-index: 0;
}
.swiper-slide {
  height: 350px;
  position: relative;
}
.swiper-button-prev,
.swiper-button-next {
  padding: 10px 10px;
  transition: background 0.2s;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.2);
}
.swiper-slide .item {
  width: 100%;
  height: 100%;
}
.flag {
  position: relative;
  width: 70%;
  margin: 0 auto;
  color: #ffffff;
  height: 100%;
  background: #000;
}
.flag img {
  min-height: 100%;
}
.flag-text {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 80%;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
}
.flag-text .title {
  font-size: 1.8em;
}
.flag-text .title a {
  color: #fff;
  transition: color 0.3s;
}
.flag-text .title a:hover {
  color: <%- theme.color_scheme.common.theme %>;
}
.flag-text .excerpt {
  color: #eee;
  width: 70%;
  line-height: 30px;
  height: 150px;
  margin-top: 2%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #42b983;
}
.img-mask {
  opacity:0.6; filter: alpha(opacity=60);
}
.flag-text .read-more {
  margin-bottom: 30px;
  padding: 5px 15px;
  color: #ffffff;
  border-radius: 20px;
}
#scroll-down {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.5em;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}
#scroll-down a {
  color: #fff;
}
@-webkit-keyframes rightan
  {
  
  0%
  {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-30px);
    opacity: 1;
  }
  100%
  {
    transform: translateY(0);
    opacity: 0.5;
  }
}
.scroll-down-effects {
  animation: rightan 1.5s infinite;
}
/* 当头部导航设置为背景透明的时候 */
.swiper-slide {
  height: 400px;
}
.flag-text {
  top: 80px;
}

@media (min-width: 992px) {
  .swiper-button-prev {
    margin-left: 15%;
    transform: translateX(-180%);
  }
  .swiper-button-next {
    margin-right: 15%;
    transform: translateX(180%);
  }
  .flag-text .title {
    width: 80%;
    line-height: 35px;
    max-height: 70px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}
@media screen and (max-width: 1200px) { 
  .flag {
    width: 80%;
  }
  .swiper-button-prev {
    margin-left: 10%;
    transform: translateX(-180%);
  }
  .swiper-button-next {
    margin-right: 10%;
    transform: translateX(180%);
  }
}
@media (max-width: 992px) {
  .flag {
    width: 100%;
  }
  .flag-text .title {
    font-size: 1.5em;
    margin-top: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .flag-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .flag-text .excerpt {
    width: 100%;
    line-height: 25px;
    height: 125px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
  }
  .flag-text .read-more {
    margin-bottom: 80px;
  }
}
@media (max-width: 992px) and (min-width: 551px) {
  .flag-text .excerpt {
    width: 70%;
  }
}
@media (max-width: 551px) {
  .swiper-slide {
    height: 250px;
  }
  .flag-text .title {
    line-height: 30px;
    max-height: 60px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 20px;
  }
  .flag-text .excerpt {
    font-size: 1em;
    line-height: 20px;
    height: 80px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }
  .flag-text .excerpt { 
    margin-top: 10px;
  }
  .flag-text .read-more {
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    transform: scale(0.5);
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
}
/* 当头部导航设置为背景透明的时候 */
  @media (max-width: 992px) {
    .flag-text {
      top: 60px;
      height: 80%;
    }
  }
  @media (max-width: 551px) {
    .swiper-slide {
      height: 310px;
    }
  }

/* 文字或者按钮居中显示 */
<% if(theme.swiper.textCenter || theme.swiper.imgwidthFull || theme.swiper.full) { %>
  .flag-text {
    left: 10%;
  }
  .flag-text .flag-text-content {
    width: 100%;
    text-align: center;
  }
  .flag-text .title {
    width: 100%;
    text-align: center;
  }
  .flag-text .excerpt { 
    width: 100%;
    text-align: center;
  }
  .bottom-one-btn {
    display: flex;
    justify-content: center;
  }
  .default-excerpt {
    display: flex;
    justify-content: center;
    font-size: 1.6em;
  }
  .flag-text-btns {
    justify-content: center;
  }
  @media (min-width: 992px) {
    .flag-text .excerpt {
      line-height: 30px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
    }
  }
  @media (max-width: 992px) {
    .flag-text {
      margin-left: 0;
      transform: translateX(0);
    }
  }
<% } %>

<% if(theme.swiper.imgwidthFull) { %>
  .swiper-slide {
    height: 450px; 
  }
  .flag {
    width: 100%;
  }
  .flag-text {
    left: 10%;
  }
  .swiper-button-prev {
    margin-left: 10%;
  }
  .swiper-button-next {
    margin-right: 10%;
  }
  .flag-text-btns {
    justify-content: center;
  }
  .flag-text {
    margin-left: 0;
    transform: none;
  }
  .flag-text .title {
    font-size: 2.2em;
    line-height: 1.5em;
    max-height: none;
  }
  .bottom-one-btn {
    margin-top: 15px;
  }
  .swiper-button-prev {
    margin-left: 10px;
    transform: translateX(0);
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
  }
  .swiper-button-next {
    margin-right: 10px;
    transform: translateX(0);
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.2em;
  }
  @media (min-width: 992px) {
    .flag-text .excerpt {
      line-height: 30px;
      height: 120px;
      -webkit-line-clamp: 4;
    }
  }
  @media (max-width: 992px) {
    .flag-text .title {
      font-size: 2.4em;
      margin-top: 20px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .flag-text .excerpt {
      line-height: 30px;
      height: 150px;
    }
  }
  @media (max-width: 551px) {
    .flag-text .excerpt {
      line-height: 30px;
      height: 120px;
    }
    .flag-text .title {
      margin-top: 50px;
    }
    .swiper-button-prev {
      margin-left: 0;
    }
    .swiper-button-next {
      margin-right: 0;
    }
  }
<% } %>

/* 全屏显示 */
<% if(theme.swiper.full) { %>
  .flag {
    width: 100%;
  }
  .swiper-slide {
    height: 100vh;
  }
  .flag-text {
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    width: 70%;
    height: auto;
  }
  .flag-text .title {
    font-size: 2.8em;
    line-height: 1.5em;
    max-height: none;
  }
  .flag-text .excerpt {
    font-size: 1.25em;
    height: 150px;
  }
  .flag-text .read-more {
    margin-top: 10px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin-top: -60px!important;
  }
  .swiper-btn-color,
  .swiper-btn-color2 {
    background-color: transparent;
    border: 1px solid #fff;
  }
  .swiper-btn-color:hover,
  .swiper-btn-color2:hover {
    background-color: <%- theme.color_scheme.common.theme %>;
    border: 1px solid <%- theme.color_scheme.common.theme %>!important;
  }
  .flag-text-btns {
    justify-content: center;
  }
  .swiper-button-prev {
    margin-left: 10px;
    transform: translateX(0);
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
  }
  .swiper-button-next {
    margin-right: 10px;
    transform: translateX(0);
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
  }
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 1.2em;
  }
  @media (min-width: 992px) {
    .flag-text .excerpt {
      line-height: 35px;
      height: 175px;
    }
    .default-excerpt {
      min-height: 150px;
    }
    .typed-element {
      align-items: unset;
    }
  }
  @media (max-width: 992px) {
    .flag-text {
      margin-left: 0;
      height: 60%;
      top: 55%;
    }
    .flag-text .title {
      font-size: 2.4em;
      margin-top: 0;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
    .flag-text .excerpt {
      line-height: 35px;
      height: 185px;
    }
    .flag-text .read-more {
      margin-top: 20px;
    }
  }
  @media (max-width: 551px) {
    .flag-text {
      height: 60%;
    }
    .flag-text .title {
      font-size: 2.2em;
    }
    .flag-text .excerpt {
      line-height: 30px;
    }
    .flag-text .read-more {
      margin-top: 50px;
      padding: 10px 30px;
    }
    .swiper-button-prev {
      margin-left: 0;
    }
    .swiper-button-next {
      margin-right: 0;
    }
    .default-excerpt {
      margin-top: 1em;
    }
  }
<% } %>

/* video */
.swiper-video {
  width: 100%;
  height: 100%;
}
.swiper-video video {
  pointer-events: none;
}
.swiper-video-maskBox{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.2;
  z-index: 1;
}
@media (min-width: 992px) {
  <% if(theme.swiper.defaultVideo) { %>
    .swiper-video {
      display: block;
    }
    .swiper-default-bgImg {
      display: none;  
    }
  <% } else { %>
    .swiper-video {
      display: none;
    }
    .swiper-default-bgImg {
      display: block;  
    }
  <% } %>
}
@media (max-width: 992px) {
  .swiper-video {
    display: none;
  }
  .swiper-default-bgImg {
    display: block;  
  }
}
/* video-end */
</style>