<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/ant-design-vue/2.0.0-beta.1/antd.min.js"></script> -->
  <body>
    <%- partial('_partial/header') %>
    <main class="main" style="<% if(theme.headMenuFixed) { %>margin-top: 60px;<% } %>">
      <%- body %>
    </main>
    <%- partial('_partial/goTop') %>
    <%- partial('_partial/footer') %>
    <!-- 图片放大 -->
    <% if(theme.fancybox.on === true ) { %>
      <%- js(['js/fancybox/jquery.fancybox.min.js', 'js/wrapImage.js']) %>
    <% } %>
    <!-- 爱心点击 -->
    <% if(theme.clicklove.on === true ) { %>
      <%- js(['js/clicklove.js']) %>
    <% } %>
  </body>
</html>