<article class="post post-detail">
  <div class="post-title">
    <h2 class="title"><%= page.title %></h2>
  </div>
  <div class="tags">
    <%- partial('_partial/post/tags', {post: page}) %>
  </div>
  <div class="categories">
    <%- partial('_partial/post/categories', {post: page}) %>
  </div>
   <div class="post-meta">
    <span class="post-time"><%- date(page.date, "YYYY-MM-DD") %></span>
  </div>
  <%- partial('_partial/toc') %>
  <div class="post-content">
    <%- page.content %>
  </div>
</article>
<!-- 上一篇文章和下一篇文章 -->
<% if (theme.postNav.on){ %>
  <%- partial('_partial/post/post-nav') %>
<% } %>
<!-- 打赏 -->
<% if (theme.donate.on){ %>
  <%- partial('_partial/donate') %>
<% } %>
<!-- 分享 -->
<% if(theme.sharejs.on) { %>
  <%- partial('_partial/share') %>
<% } %>
<!-- 评论 -->
<% if(page.comments !== false ) { %>
  <% if(theme.valine.on === true ) { %>
    <%- partial('_partial/comment/valine') %>
  <% } else if(theme.gitment.on === true) { %>
    <%- partial('_partial/comment/gitment') %>
  <% } else if(theme.livere.on === true) {  %>
    <%- partial('_partial/comment/livere') %>
  <% } else if(theme.changyan.on === true) {  %>
    <%- partial('_partial/comment/changyan') %>
  <% } else if(theme.gitalk.on === true) {  %>
    <%- partial('_partial/comment/gitalk') %>
  <% } else if(theme.miniValine.on === true) { %>
    <%- partial('_partial/comment/miniValine') %>
  <% } %>
<% } %>